/* Main Container */
.mainContainer {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1280px;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    height: 100vh;
}

.main>h2 {
    font-weight: 400;
}
