:root {
  --foreground-rgb: white;
  --background-start-rgb: rgb(226, 226, 226);
  --background-end-rgb: #acacac;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-height: 100vh;
  overflow: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, var(--background-start-rgb), var(--background-end-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
