/* Header */
.headerContainer{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerLogoDiv {
    display: flex;
    align-items: center;
}

.headerLogo {
    max-height: 106px;
    margin-right: 10px;
    border-radius: 12px;
}

.headerNav {
    padding: 5px;
}
